<h3>Create a Lab</h3>

<form name="createLab" ng-model-options="{ getterSetter: true }" ng-controller="LabCreateCntrl">
    <input ng-model="form.name" name="name" placeholder="Lab Name"/>
    <div id="stepArea">
        <div id="step0">
            <h4>1 <input placeholder="Step name"/></h4>
            <div class="insertArea"></div>
            <div ng-show="showButtons">
                <select class="select-element" ng-model="form.steps[0].currentSelect">
                    <option value="{{stepElements[0]}}">Value Question</option>
                    <option value="{{stepElements[1]}}">Graph Question</option>
                    <option value="{{stepElements[2]}}">Description</option>
                </select>
                <button class="add-step-element" ng-click="addElementToStep($event)">Add</button>
            </div>
        </div>
    </div>
    <button ng-click="addStep">Add step</button>
</form>
