

<!--
<a-great-eye></a-great-eye>
<table>
 <tr><th> Row Num </th> </tr>
<tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]"> <td> {{i+1}} </td></tr>
</table>
 -->
<p>
    Search: <input ng-model="query">
</p>
<p>Sort by:
    <select ng-model="orderProp">
        <option value="name">Name</option>
        <option value="-name">-Name</option>
    </select>
</p>
<img ng-src="{{mainImageUrl}}" id="lab" width="500px">

<li ng-repeat="l in labs | filter:query | orderBy:orderProp">
    <div>
        <a href="#/labs/{{l.ID}}">Name: {{l.Name}}</a>
    </div>
    <img src="{{l.TitleImage}}" width="150px" ng-click="setImage(l.TitleImage)">
</li>

<pre>{{labs | filter:query | orderBy:orderProp | json}}</pre>

